/* VARS */
:root{
    --primary-color: #EC755E;
    --background-color: #F8EADC;
    --white-color: #FFFCF7;
    --secundary-color: #332117;
    --selected-color: #75B6BB;
}
/* CLEAR */
body, p, h1, h2, h3, ul, li {
    margin: 0;
}
ul{
    list-style: none;
    padding: 0;
}
body{
    height: 100vh;
    background-color: var(--background-color);
}
/* STYLES */
.bar-chart-main{
    margin: 0 auto;
    padding-top: 40px;
    width: 25vw;
    font-family: 'Poppins', sans-serif;
}
.bar-chart-main-content{
    width: 100%;
    display: grid;
    gap: 20px;
}
.bar-chart-header{
    display: flex;
    border-radius: 8px;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 15px 20px;
}
.bar-chart-balance{
    display: grid;
    gap: 10px;
}
.bar-chart-balance p{
    font-size: 0.8rem;
}
.bar-chart-balance span{
    font-size: 1.2rem;
    font-weight: bold;
}
.bar-chart-header-icon{
    float: right;
    display: flex;
    align-items: center;
}
.bar-chart-header-icon img{
    width: 60px;
}
.bar-chart{
    display: grid;
    grid-template-rows: 1fr 6fr 2fr;
    border-radius: 8px;
    background-color: var(--white-color);
    padding: 15px 20px;
    color: var(--secundary-color);
}
.bar-chart h1{
    font-size: 1.2rem;
}
.chart{
    -webkit-user-select: none;     
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.chart-items{
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    align-items: end;
    column-gap: 20px;
}
.chart-bar{
    position: relative;
    flex: 1;
}
.chart-bar span{
    height: 5px;
    border-radius: 4px;
    width: 100%;
    display: block;
    background-color: var(--primary-color);
    margin-bottom: 5px; 
    transition: height 1s;
}
.chart-bar.selected span{
    background-color: var(--selected-color);
}
.chart-bar p{
    font-size: 0.6rem;
    text-align: center;
}
.chart-bar p:hover{
    cursor: pointer;
}
.chart-bar:hover{
    cursor: pointer;
}
.chart-info{
    display: flex;
    justify-content: space-between;
}
.chart-info-main, .chart-info-income{
    margin-top: 10px;
}
.chart-info-main p, .chart-info-income p, .chart-info-income span{
    font-size: 0.6rem;
}
.chart-info-main span{
    font-size: 1.2rem;
}
.chart-info-income{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.chart-info-income span{
    font-weight: bold;
}
@media only screen and (max-width: 1200px){
    .bar-chart-main{
        width: 35vw;
    }
}
@media only screen and (max-width: 860px){
    .bar-chart-main{
        width: 45vw;
    }
}
@media only screen and (max-width: 680px){
    .bar-chart-main{
        width: 55vw;
    }
}
@media only screen and (max-width: 580px){
    .bar-chart-main{
        width: 65vw;
    }
}
@media only screen and (max-width: 500px){
    .bar-chart-main{
        width: 80vw;
    }
}